<app-navbar></app-navbar>

<section class="itineraire-page">
  <div class="container">

    <h1>Itinéraire</h1>

    <p class="subtitle">
      Calculez un trajet depuis la Gare de Rennes avec un nom de lieu, un identifiant ou des coordonnées GPS.
    </p>

    <!-- FORM -->
    <div class="form-card">

      <div class="form-group">
        <label>Point de départ</label>
        <input type="text" [(ngModel)]="pointDepart" />
      </div>

      <div class="form-group">
        <label>Destination</label>
        <input
          type="text"
          [(ngModel)]="destination"
          placeholder="Ex: musée, parc, ... "
          (keyup.enter)="calculerItineraire()"
        />
      </div>

      <button type="button" class="btn-primary" (click)="calculerItineraire()">
        Calculer
      </button>

    </div>

    <!-- ERREUR -->
    <p class="error" *ngIf="messageErreur">
      {{ messageErreur }}
    </p>
     <!-- Destination title -->
    <div class="destination-title" *ngIf="destinationTrouvee">
      <span class="icon">📍</span>
      <span class="name">{{ destinationTrouvee }}</span>
      <span class="distance">{{ distanceTrouvee }} km</span>
    </div>

    <div class="maps-link" *ngIf="destinationTrouvee">
      <span class="icon">🗺️</span>
      <a
        [href]="'https://www.google.com/maps/search/?api=1&query=' + destinationTrouvee"
        target="_blank"
      >
        Voir sur Google Maps
      </a>
    </div>

    <!-- RESULTATS CARDS -->
    <div class="results-card" *ngIf="modes.length > 0">

      <h2>Modes de transport</h2>

      <div class="mode-cards">

        <div
          class="mode-card"
          *ngFor="let m of modes"
          [class.recommended]="m.mode === recommande"
        >

          <div class="rec-badge" *ngIf="m.mode === recommande">
            ✓ Recommandé
          </div>

          <div class="mode-icon">
            {{ icons[m.mode] }}
          </div>

          <div class="mode-name">
            {{ m.mode }}
          </div>

          <div class="mode-time">
            {{ m.duree }} min
          </div>

        </div>

      </div>
    </div>
    <div class="useful-links">
      <h3>Liens utiles</h3>
      <div class="transport-links">
          
        <a
          href="https://www.star.fr/"
          target="_blank"
          class="transport-link"
        >
          🚌 Réseau STAR
        </a>

        <a
          href="https://www.star.fr/reseau-star/velo#lc:/bss"
          target="_blank"
          class="transport-link"
        >
          🚴 VéloStar
        </a>

      </div>
    </div>

  </div>
</section>