<app-navbar></app-navbar>

<section class="trains-page">

  <div class="container">

    <div class="header">
      <h1> Prochains trains </h1>
      <p>Départs depuis la Gare de Rennes</p>
    </div>

    <!-- SEARCH -->
    <div class="search-box">

      <input
        type="text"
        placeholder="Filtrer une destination..."
        [(ngModel)]="searchTrain"
        (input)="filterTrains()"
      />
      <input
        type="date"
        [(ngModel)]="selectedDate"
        (change)="loadTrains()"
      />

      <button (click)="filterTrains()">
        Rechercher
      </button>

    </div>
    <p class="count">{{ filteredTrains.length }} trains trouvés</p>

    <!-- LOADING -->
    <div class="loading" *ngIf="loading">
      Chargement des trains...
    </div>

    <!-- ERROR -->
    <div class="error" *ngIf="error">
      {{ error }}
    </div>

    <!-- TABLE -->
    <div class="table-wrapper" *ngIf="filteredTrains.length > 0">

      <table>

        <thead>
          <tr>
            <th>Destination</th>
            <th>Départ</th>
            <th>Type</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let train of filteredTrains">

            <!-- DESTINATION -->
            <td class="destination">
              <strong>{{ train.destination }}</strong>
            </td>

            <!-- HEURE -->
            <td class="depart-time">
              {{ train.depart }}
            </td>

            <!-- TYPE -->
            <td>

              <span
                class="badge"
                [class.tgv]="train.type === 'TGV INOUI'"
                [class.ter]="train.type === 'TER'"
                [class.breizhgo]="train.type === 'BreizhGo'"
                [class.nomad]="train.type === 'NOMAD'"
              >
                {{ train.type }}
              </span>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</section>